// header.scss

// header.scss

header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    position: sticky;
    top: 0;
    border-bottom: 20px #11009e;
    z-index: 1;
    
    nav.navbar {
      &.navbar-expand-lg {
        &.bg-body-tertiary {
          .container-fluid {
            .navbar-toggler {
              // Estilos para el botón de hamburguesa
            }
            .collapse.navbar-collapse {
              ul.navbar-nav {
                .nav-item {
                  &.active {
                    // Estilos para el elemento activo
                  }
                  .nav-link {
                    // Estilos para los enlaces de navegación
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  
  